body{
    background-image: url(../imagens/wallpaper001.jpg);
}

.texto{
    margin-top: 20px;
    padding: 20px;
    background-color: burlywood;
    font-weight: bolder;
    font-family: sans-serif;

}

.quadrado{
    border: 2px solid black; /*definindo uma borda preta, sólida de 2px*/  
    height: 300px; /*definindo a altura da classe em 300px*/ 
    width: 300px; /*definindo a largura da classe em 300px*/
    display: inline-block; /*deixando um elemento do lado do outro*/
    background-color: lightblue; /*definindo um background da cor azul claro.*/
    border-radius: 10px; /*deixando as bordas arredondadas*/
}

div#quadrado-1{
    background-color: skyblue;
}

div#quadrado-2{
    background-image: linear-gradient(to bottom, yellow, rgb(255, 55, 0));
}

div#quadrado-3{
    background-image: url('../imagens/pattern001.png');
}

div#quadrado-4{
    background-image: url('../imagens/wallpaper002.jpg');
}